<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="assets/css/burger_style.css" rel="stylesheet">
    <title>Burger Menu</title>
</head>

<body>
    <container>
        <div><img src="assets/img/burger.jpg" width="70px" height="70px" ></div>
            <h2>Eating Burgers</h2>
    </container>
   
            


    <div class="container">
        {{{ body }}}
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.0/anime.min.js"></script>
   

    <script>
        
    </script>

</body>

</html>